<div class="mainContainer">
  <h1 class="pageTitle createConfirm">登録内容確認</h1>
  <h3 class="confirm_sentence">以下の内容で送信しますか？</h3>

  <%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <div class="container createConfirm">
      <div class="createConfirm-title"><%= @blog.title %></div>
      <div class="createConfirm-content"><%= @blog.content %></div>
      <div class="createConfirm-image"><%= image_tag(@blog.image.url) if @blog.image.present? %></div>
      <%= hidden_field_tag :"cache[image]",@blog.image.cache_name %>
    </div>
    <div class="page-link toBlogRegist">
      <%= form.submit  "登録", class: 'btn btn-warning' %>
    </div>
  <% end %>

  <div class="page-link toNewBlog">
  <%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.submit "戻る", name: 'back', class: 'btn btn-default' %>
  <% end %>
  </div>
</div>
