<div class="mainContainer">
  <h1 class="pageTitle blogShow">ブログ詳細</h1>
  <div class="container blogShow">
      <div class="blogShow-title"><%= @blog.title %></div>
      <div class="blogShow-content"><%= @blog.content %></div>
      <div class="blogShow-image"><%= image_tag @blog.image %></div>
      <div class="blogShow-user">Created By <span><%= @blog.user.name %></span></div>
  </div>

  <% unless @blog.user == current_user %>
    <div class="page-link favorites">
    <% if @favorite.present? %>
      <%= link_to "お気に入りから外す", favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to "お気に入りに追加する", favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
    </div>
  <% end %>

  <div class="page-link toBlogIndex">
  <%= link_to "ブログ一覧へ戻る", blogs_path, class: 'btn btn-default'  %>
  </div>
</div>
